<div class="prof">
  <div class="title-profile">
    <h1>My Profile</h1>
  </div>

  <div class="wrap">

    <div class="profile-box">
      <h3>My informations</h3>
      <br>
      <p> <b> <%= @user.email %> </b></p>
    </div>

    <div class="profile-pic-box">

    </div>

  </div>

</div>
