.editpet {
  margin: 0 auto;
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1668443673/wantedpets/Sans_titre_-_2022-11-14T173409.597_teevkv.png');
  background-position: center;
  background-size: cover;
}

.editform form {
  width: 450px;
  padding: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  background-color: white;
  margin: 20px 20px;

}
.editform input.btn{
 text-decoration: none;
  color: white;
  background-color: rgb(68, 202, 153);
  border-radius: 4px;
  padding: 4px 6px;
  width: 100%;
}

.editform input.btn:hover{
  text-decoration: none;
  color: white;
  background-color: rgb(138, 218, 178);
  border-radius: 4px;
  padding: 4px 6px;
}
#pet_address{
  display: none;
}
