.indexpets{
  display: flex;
  justify-content: space-around;
  // align-items: center;
  margin: 0 auto;
}

.allpets{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 60%;
  padding: 0 30px 16px;
  // justify-content: space-between;
}
// @media(max-width: 992px) {
//   .allpets {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media(max-width: 600px) {
//   .allpets {
//     grid-template-columns: 1fr;
//   }
// }
.titre h1{
  color: rgb(83, 64, 225);
  font-weight: bold;
  font-size: 50px;
}
.titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.titre a{
  text-decoration: none;
  background-color: rgb(83, 64, 225);
  color: white;
  // font-weight: bold;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 20px;
}
.titre a:hover{
  text-decoration: none;
  background-color: rgb(53, 39, 163);
  color: white;
  font-weight: bold;
}

.pet-card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1668376254/wantedpets/Sans_titre_-_2022-11-13T225047.261_vgz8bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  // width: 400px;
  // margin: 20px 0;
  // height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: rgb(82, 80, 80);

}
.pet-card img{
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pet-card ul, li{
  list-style: none;
  padding-left: 0;
}
li.colorstat{
  color: rgb(235, 128, 128);
  font-weight: bold;
}
li.greenstat{
  color: rgb(26, 203, 132);
  font-weight: bold;
}
span.add{
  color: rgb(62, 138, 237);
}
.petmap{
  width: 40%;
  margin: 0 auto;
  position: sticky;
  top: 50px;
// width: 100%;
  height: 100vh;
}
.upcard{
  display: flex;
  justify-content:center;
  align-items: center;

}
.important{
  margin-left: 20px;

}
.mapboxgl-map{
  height: 100%;
}
.cardlinks a.editlink{
  text-decoration: none;
  color: white;
  background-color: rgb(62, 138, 237);
  border-radius: 4px;
  padding: 4px 6px;
}
.cardlinks a.editlink:hover{
  text-decoration: none;
  color: white;
  background-color: rgb(29, 93, 176);
  border-radius: 4px;
  padding: 4px 6px;
}
.cardlinks a.deletelink{
  text-decoration: none;
  color: white;
  background-color: rgb(235, 128, 128);
  border-radius: 4px;
  padding: 4px 6px;
}
.cardlinks a.deletelink:hover{
  text-decoration: none;
  color: white;
  background-color: rgb(213, 112, 112);
  border-radius: 4px;
  padding: 4px 6px;
}
.titre input.btn {
  text-decoration: none;
  color: white;
  padding: 5px 6px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  font-size: 20px;
  background-color: rgb(68, 202, 153);
  font-size: 18px;
}
.titre input.btn:hover {
  text-decoration: none;
  background-color: rgb(138, 218, 178);
  color: white;
  font-weight: bold;
}
.searchAR{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
// .contactmess{
//   align-items: flex-end;
// }
