.indexpets{
  display: flex;
  justify-content: space-around;
  // align-items: center;
  margin: 0 auto;
}

.allpets{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 60%;
  padding: 0 30px;
  // justify-content: space-between;
}
// @media(max-width: 992px) {
//   .allpets {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media(max-width: 600px) {
//   .allpets {
//     grid-template-columns: 1fr;
//   }
// }
.titre h1{
  color: rgb(134, 76, 248);
  font-weight: bold;
  font-size: 50px;
}
.titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.titre a{
  text-decoration: none;
  background-color: rgb(83, 64, 225);
  color: white;
  // font-weight: bold;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 20px;
}
.titre a:hover{
  text-decoration: none;
  background-color: rgb(53, 39, 163);
  color: white;
  font-weight: bold;
}

.pet-card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/v1668376359/wantedpets/Sans_titre_-_2022-11-13T225230.224_dfq45e.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  // width: 400px;
  // margin: 20px 0;
  // height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(82, 80, 80);

}
.pet-card img{
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.pet-card ul, li{
  list-style: none;
  padding-left: 0;
}
li.colorstat{
  color: rgb(235, 128, 128);
  font-weight: bold;
}
li.greenstat{
  color: rgb(26, 203, 132);
  font-weight: bold;
}
span.add{
  color: rgb(62, 138, 237);
}
.petmap{
  width: 40%;
  margin: 0 auto;
  position: sticky;
  top: 50px;
// width: 100%;
  height: 100vh;
}
.upcard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.important{
  margin-left: 20px;

}
.mapboxgl-map{
  height: 100%;
}
