.pet-infos ul,li {
  list-style: none;
  padding-left: 0;

}
.pet-infos{
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  width: fit-content;
  border-radius: 8px;
}
